@import 'variables';

.header {
    padding: 15px 0;
    background-color: $primary-color;
}

.banner {
    margin-top: 15px;
    font-weight: bold;

    &__wrapper {
        position: relative;
    }

    &__welcome {
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    &__line {
        margin-bottom: 8px;
        height: 4px;
        width: 20%;
        display: none;
        background-color: $primary-color;
    }

    &__title {
        margin-bottom: 15px;
        font-size: 1.6rem;
        font-weight: inherit;
        color: $primary-color;
    }
    
    &__phone {
        font-size: 3rem;
        font-weight: inherit;
        color: $secondary-color;
    }

    &__square {
        position: absolute;
        bottom: 0;
        right: 10%;
        height: 20px;
        width: 20px;
        transform: translateY(50%);
        display: none;
        background-color: $secondary-color;
    }
}

.content {
    &__wrapper {
        height: 100%;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > * {
            padding: 5px;
        }

    }

    &__buttons {
        text-align: center;
        margin-bottom: 15px;
    }

    &__button {
        padding: 5px 30px;
        font-size: 1.2rem;
        border: 1px solid $primary-color;
        border-radius: 20px;
        background-color: white;
        transition: .4s ease all;

        &:hover {
            background-color: $hover-color;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__title {
        margin-bottom: 15px;
        font-size: 1.5rem;
        font-weight: bold;
        color: $light-blue;
    }

    &__description {
        line-height: 1.6rem;
    }
    
    &__list-item {
        margin-bottom: 7px;

        &::marker {
            font-size: 1.5rem;
            color: $secondary-color;
        }
    }
}

.footer {
    padding: 25px 0;
    background-color: $primary-color;
    text-align: center;

    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        align-items: center;
        color: white;

        & > * {
            margin-bottom: 20px;
        }
    }

    &__copyright {
        margin-bottom: 0;
    }
}