@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $default-font;
}

.logo {
    max-width: 110px;
}

/* sobrescrevendo bootstrap */
.navbar-dark .navbar-nav .nav-link {
    color: white;
    &:hover {
        text-decoration: none;
        color: $hover-color;
    }
}

.nav-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.navbar-collapse {
    flex-grow: 0;
}


