@import 'variables';

@media all and(min-width: 1400px) {
    .header {
        &__menu {
            @include web-container;
        }
    }
    .footer {
        &__wrapper {
            @include web-container;
        }
    }
}

@media all and(min-width: 768px) {
    .banner {
        margin-top: 0;
        background: url('../assets/banner.png') center no-repeat;
        background-size: cover;
        border-bottom: 1px solid $secondary-color;

        &__wrapper {
            @include web-container;
            display: flex;
            justify-content: flex-end;
        }
        
        &__welcome {
            padding: 30px 30px;
            display: flex;
            min-height: 40vh;
        }

        &__line {
            display: block;
        }
    
        &__title {
           text-align: left;
        }
    
        &__phone {
           align-self: flex-end;
        }

        &__square {
            display: block;
        }
    }

    .content {
        @include web-container;
        min-height: 50vh;
        display: flex;
        align-items: center;

        &__wrapper {
            padding: 15px 0;
        }
    }

    .footer {
        &__wrapper {
            flex-direction: row;

            & > * {
                margin-bottom: 0;
            }
        }
    }
}